#servicios1 {
    background: #f8f8f8;
    justify-content: center;
}

.servicios {
    display: flex;
    justify-content: center; 
        background-color: #aaf0d1; 
}

.uu {
    margin-top: 70px;
}

#caja3 {

    display: grid;
    height: 100vh;   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 20px;
    padding: 5%;
}

.caja33 {
    background-color: rgb(248, 247, 247);
    border: 1px solid #ccc;
    padding: 5%;
    display: grid;
    border-radius: 10px;
    text-align: center;
    background-image: url('./fondos/dos.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la caja */
    background-position: center; /* Centra la imagen */
    align-content: space-evenly;
}

.lineaa {
    margin-inline-end: 132px;
    margin-inline-start: 132px;
}

#fas {
    font-weight: 900;
    line-height: 60px;
    background-color: #c6c6c6;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
}

.letrac {
    font-size: 30px;
    color: hsl(50, 100%, 50%);
}
.enunciado {
    word-spacing: 62px;
    font-size: 20px;
}

@media (max-width: 767px) {
    .caja33 {
        padding: 2%;
    }

    .letrac {
        font-size: 24px;
    }

    .enunciado {
        word-spacing: 52px;
        font-size: 22px;
    }
}

/* Media query para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
    .caja33 {
        padding: 5%;
    }

    .letrac {
        font-size: 26px;
    }

    .enunciado {
        word-spacing: 56px;
        font-size: 24px;
    }
}

/* Media query para pantallas grandes */
@media (min-width: 1024px) {
    .caja33 {
        padding: 5%;
    }

    .letrac {
        font-size: 30px;
    }

    .enunciado {
        word-spacing: 62px;
        font-size: 20px;
    }
}
