@import url(https://db.onlinewebfonts.com/c/867ec14fb235e53a1026b6e6884e71fa?family=GOOD+BRUSH);


* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    font-family: "GOOD BRUSH";
}

#encabezado .encabezado_header {
    position: fixed;
    display: flex;
    width: 100%;
    padding-inline: 10px;
    text-decoration: none;
    background-color: #000000;
    color: white;
    align-items: center;
    top: 0;
    z-index: 2;
}

#encabezado .btn_contacto {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 25%;
}


#encabezado img.header_contacto {
    width: 10%;
    height: 10%;
    display: flex;
}

#encabezado header .logo {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-left: 47%;
}


#menu_lateral {
    width: 7vh;
    background: #000000;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    margin: 0;
    top: 0;
}

#menu_lateral img.nav_icon {
    width: 60%;
    padding: 1vh;
}

.menu_contenido {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.menu_card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu_card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu_card h2 {
    color: #333;
}

.menu_card p {
    color: #666;
}

button{
    background-color: #F0F0F0;
    font-size: smaller;
    color: white;
    color: black;
    text-decoration: none;
    font-size: 14pt;
    outline:none;
    border-radius: 10px;
    border:none;
    padding: 10px;
}


.boton {
    font-size: 30px; 
    padding: 10px 20px; 
    display: flex;
    justify-content: center;
     justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 8px;
    font-size: 14pt;
    align-items: center;
}

.menu_card .boton .cop{
    writing-mode:vertical-lr;
    transform:rotate(180deg);  
}
