
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;

}

.adso{
    font-size: 30px;
    color: #e7627b;
    text-align: center;
 }
 
 .p{    color: white;
   text-decoration: none;
   word-spacing: 5px;
   font-size: medium;
   padding-inline: 10px ;
 }
 .p:hover{
   color: #e7627b;
 }
 
 .header{
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   /* display: grid; */
   /* grid-template-columns: 2fr 3fr 2fr; */
   align-items: center;
   background: black;
   z-index: 1;
   height: 50px;
    }
 
 .enca{
    display: flex;
    gap: 5%;
}
 .tres3{
    width: 25px;
    height: 25px;
    justify-content:center;
 }

 .menu{
    display: flex;
    justify-content: space-around;
     text-decoration: none;
     font-size: 10px;
 }
 .imagenes{
    text-align: center;
 }
#fondo{
    width: 100%;
    height: 100vh;
     opacity: 100%;
}
#soyelver{
   justify-content: center;
    position: absolute;
    display: flex;
    gap: 35px;
    transform: translate(-50%,-50%);
    width: max-content;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    right: 0px;
    font-size: 25px;
    color: white;
}

.soy{
   display: flex;
   color:white;
   font-size: 45px;
}

.red{
   color: #e7627b;
   font-size: 35px;
   margin-top: 7px;
}

.bienve{
   font-size: 15px;
}
.botom{
   border-radius: 30px;
   border-color: rgb(240, 235, 235);
   height: 48px;
   background: bottom;
   color: white;
   width: 150px;
}
.lorr{
   font-size: 20px;
   margin-top: 22px;
}

/* parte___dos */
#sec2{
   width: 100%;
  height: 100vh;
  display: flex;
}
#segund{
   display: flex;
   align-items: center;
   margin-left: 140px;
   margin-right: 100px;
   gap: 130px;
} .cj{  
   display: flex;
   flex-direction: column;
}
 #mia{
   width: 100%;
  border: 22px solid rgb(233, 231, 231);
  padding: 20px 10px;
  border-radius: 15px;
 
} 
.sobre{
font-size: 18px;
}
.hola{
   display: flex;
   font-size: 22px;
}

.letrass{
   color: #797676;
} 
.bottt{
   border-radius: 28px;
   border-color: rgb(50, 48, 48);
   height: 30px;
   background: bottom;
   color: #343030;
   width: 100px;
   margin-block: 17px;
   }
 /* tres...terceraparte */

   
  
      #servicios1 {
         background: #f8f8f8;
         justify-content: center;

     }
     .servicios{
       display: flex;
       justify-content: center; 
     }
     .uu{
      margin-top: 70px;
     }

   
   #caja3 {
      display: grid;
      height: 100vh;
     
    
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 35px;
      row-gap: 20px;
     padding: 5%;
   
  }

   
  .caja33{
   background-color: rgb(248, 247, 247);
   border: 1px solid #ccc;
   padding: 5%;
   display: grid;
   border-radius: 10px;
   text-align: center;
   align-content: space-evenly;
  } 
  .lineaa{
   margin-inline-end: 132px;
   margin-inline-start: 132px;
  }

 

   #fas {
   
      font-weight: 900;
      line-height: 60px;
      background-color: #c6c6c6;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin: auto;
   }
       
 .letrac{
 font-size: 30px;

 }
 .enunciado{
   word-spacing: 62px;
   font-size: 20px;
 }
  /*cuatro  */
  /*  cuarta_parte barras porcentaje*/
#partebarras{
 
  color: #ccc;
  justify-content: center;
  height: 65vh;
  align-items: center;
  position: relative;
 display: grid;
  

} 
.fondos2{
position: absolute;
width: 100%;
opacity: 100%;
height: 65vh;
display: flex;
justify-content: center;

}
.habilidad{
   text-align: center;
}
#list{
  row-gap: 30px;
  
}
.lista{
   font-size: 25px
 }

 .barra{
   height: 5px;
   background-color: #e7627b;
   margin-top: 8px;
   width: 350px;
 }
 
 .porcentaje {
   text-align: end;
   line-height: 0px;
   color: white;
 }
 /*quinta parte proyectos elver joya */
   
 #proyectosc{
    text-align: center;
    height: 170vh;
    background-color: white;
    width: 100%;
     margin: 0 auto;
  }

  .proyectosh{
    display: grid;
         
        grid-column-gap: 25px;
        grid-row-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10%;
        /* Agregar espacio al lado izquierdo */
        margin-right: 10%;
        /* Agregar espacio al lado derecho */
  }

.cajasproyecto{
    position: relative;
    height: 250px;
    width: 100%;
    border: solid 1px black;
    overflow: hidden;
}

.titulop{
    padding-top: 80px;
    margin-bottom: 40px;
    color: black;
        text-decoration: underline 5px gray;
    }


.imagencajas {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
        /* Inicialmente, aplica el efecto de blanco y negro al 100% */
        transition: filter 0.3s;
      
        /* Agrega una transición para el filtro */
}

.barrabajo{
    position: absolute;
    bottom: -63px;
    /* Inicialmente, coloca la barra fuera de la caja */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    text-align: left;
    transition: bottom 0.3s;
    /* Agrega una transición para la posición */
}
.cajasproyecto:hover .barrabajo{
    bottom: 0;
}

.cajasproyecto:hover .imagencajas {
    filter: grayscale(0%);
}

/*  */
/* contenedor ;contacto */
/*  */


#contacto{
   /* margin-top: 120px; */
      /* padding-top: 50px; */
      text-align: center;
      height: 100vh;
      width: 100%;
      background-color: rgba(243, 242, 242, 255);
}



.contactos{
 
      padding-top: 80px;
      padding-bottom: 35px;
      color: black;
      text-decoration: underline 5px gray;
}

.dat-contacto{
   margin-left: 10%;
   height: 75%;
   width: 80%;
}

.dat-nombre{
   font-size: 15px;
   border: 1px solid rgb(101, 101, 101);
   border-radius: 22px;
   height: 50px;
   padding: 10px 15px;
   width: 45%;
}

.dat-correo{
   font-size: 15px;
   border: 1px solid gray;
   border-radius: 22px;
   height: 50px;
   padding: 10px 15px;
   width: 45%;
}

.dat-tema{
   width: 100%;
   font-size: 15px;
   border: 1px solid gray;
   border-radius: 22px;
   height: 50px;
   padding: 10px 15px;
}



.cont-contacto{
   display: flex;
   width: 100%;
}

.datos-mensaje{
   resize: none;
   padding: 10px 15px;
   width: 100%;
   height:200px;
   border: 1px solid gray;
   border-radius: 22px;
   margin-top: 20px;
   font-size: 15px;
}

.enviomsj{
   width: 157px;
   height: 40px;
   margin-top: 15px;
   border: 2px gray solid;
   background: none;
   border-radius: 40px;
   transition: transform 0.5s;
}

.enviomsj:hover{
   color: white;
   background-color: #2657dd;
   transform: scale(1.2);
}
/*  */
/*  footer ultima seccion */
/*  */
.barraas{
   text-align: center;
   color: white;
   width: 100%;
   height: 80px;
   background-color: black;
}

.div,.section{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   gap: 32px;
}
   
/* medias query */

/* @media screen and (max-width: 300px) {
     .header {
       height: 30px;
   }

   .p {
       font-size: 12px;
   }

   #soyelver {
       font-size: 14px;
   }

   .soy {
       font-size: 30px;
   }

   .red {
       font-size: 18px;
       margin-top: 10px;
   }

   .bienve {
       font-size: 10px;
   }

   .botom {
       height: 30px;
       width: 100px;
   }

   .lorr {
       font-size: 12px;
       margin-top: 10px;
   }
} */

@media (max-width: 767px){
   #caja3{
      height: auto;
      grid-template-columns: 1fr;
   }

.hola{
   font-size: 7px;
}

   #segund{
      margin: 0px;
   }

   .soy{font-size: 12px;}

   /* #mia{
      height: 200px;
   } */
   .menu{
      font-size: 20px;
   }

.lorr{
   font-size: 9px;
}
.red{
  
   font-size: 15px;
   margin-top: -3px;
}
.p{
   font-size: 15px;
}
.adso{
   font-size: 20px;
}
.imagenes{
   font-size: 5px;
   display: flex;
}
.dat-tema{
   font-size: 1px;
}
   .cj{
      margin-left: -40px;
      font-size: 10px;
   }

   .nose{
      width: 100%;
      height: 100vh;
      background-image: url(./imagen/fondo1.jpg);
   }
.barraas{
   height: 60px;
}
.enunciado{
   font-size: 16px;
}
   #fondo{
      width: 100%;}

   .enviomsj{
      margin-bottom: 5%;
   }

 
}

@media (max-width: 360px){
   #fondo{
      width: 150%;
   }
   .menu{
      font-size: 20px;
   }

.lorr{
   font-size: 9px;
}
.barra{
   width: 250px;
}
.red{
  
   font-size: 15px;
   margin-top: -3px;
}
.p{
   font-size: 5px;
}
.adso{
   font-size: 17px;
}
.imagenes{
   font-size: 5px;
   display: flex;
}
.dat-tema{
   font-size: 1px;
}
   .cj{
      margin-left: -40px;
      font-size: 10px;
   }

   .nose{
      width: 100%;
      height: 100vh;
      background-image: url(./imagen/fondo1.jpg);
   }
.barraas{
   height: 60px;
}
.enunciado{
   font-size: 16px;
}
   #fondo{
      width: 100%;}

   .enviomsj{
      margin-bottom: 5%;
   }

 
}
