* {
    margin: 5px;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    gap: 20 px;
}

#encabezado {
    display: flex;
    padding: center;
    gap: 41%;
    width: 89%;
}

#izqui {
    display: flex;
    gap: 70px;
}

.boton {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(237, 226, 226);
    height: 50px;
    background-color: rgb(199, 25, 25);

    width: 56%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.um {
    color: red;
    font-size: size 50px;
}

#derc {
    display: flex;
    gap: 15px;
}

.un {
    width: 40;
    height: 40px;
}

.audifon {
    display: grid;
    grid-template-columns: 35% 50% 15%;
    background-color: rgb(216, 211, 211);
    border-radius: 3%;
    height: 700px;

}

.move {
    padding-top: 133px;
    margin-left: 40px;
}

#beat {
    font-size: 35px;
}

#wir {
    font-size: 90px;
}

#head {
    font-weight:100;
    font-size: 205px;
    color: aliceblue;
    font-weight: bolder;
    
}

.audi {
    width: 550px;
    height: 450px;
    align-items: center;
    margin-top: 170px;
}

.cont {
    text-align: end;
    font-size: 24px;
    margin-right: 64px;
    margin-top: 513px;
}


#cajas {
    display: grid;
    background-color: rgb(216, 211, 211);
    border-radius: 25px;
    border: 3px solid rgb(59, 13, 244);
    column-gap: 23px;

}     

.div1 {
    display: grid;
    grid-template-columns: 24% 24% 49%;
     column-gap: 23px;
    left: 30px;
    height: 350px;
    font-family: 'Poppins', sans-serif; color: rgb(110, 110, 110);

    
}

.ina {
    background-color: rgb(58, 56, 56);
    gap: 20px;
    left: 30px;
    border-radius: 30px;
    font-size: 43px;
 

}
.let{
    font-size: 30px;
    margin-left: 65px;
    font-family: 'Poppins', sans-serif; color:white;
}     
.letras{
    margin-left: 30px;

}   
.letr{
    font-size: 44px;
    margin-left: 65px;
    font-family: 'Poppins', sans-serif; color: rgb(216, 211, 211);
}

.new {
    font-size:20px;
    font-family: 'Poppins', sans-serif; 
    margin-left: 30px;
    margin-top: 35px;  
    margin-left: 30px;
}

.inalam {
    position: absolute;
    height: 300px;
    left: 39px;
    margin-top: -360px;
}

#sma {
    text-align: justify;
    background-color: rgb(232, 210, 11);
    gap: 20px;
    color: #333333;
    font-family: 'Poppins', sans-serif; color: rgb(216, 211, 211);
    border-radius: 30px;
    font-size: 44px;
    grid: column gap 25px;
}
.segundot{
    margin-left: 30px;
    font: size 10px;
    color: white;
}
.button1{
    height: 40px;
    background-color:rgb(199, 25, 25);
    width: 45%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
  
button{
    border-radius: 20%;
    color:rgb(173, 20, 20);
    margin: 40px;
    height: 38px;
    background-color:white;
    width:140px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.tres{
    margin-left: 66px;
    margin-top: 48px;
}

.reloj {
    position: absolute;
  
    height: 300px;
    left: 34%;
    top: 810px;
}


#compu {

    background-color: rgb(215, 14, 4);
    gap: 20px;
    color: #333333;
    font-family: 'Poppins', sans-serif; color:  rgb(216, 211, 211);
    border-radius: 30px;
    font-size: 55px;
}

.computadora {
    position: absolute;
    right: 30px;
    top: 760px;
    width: 480px;
    height: 480px;
}

.Trend{
    margin-left:65px;
    font-size: 20px;
}

.div2 {
    display: grid;
    grid-template-columns: 50% 23% 24%;
    background-color: rgb(65, 18, 18);
    height: 350px;
    left: 30px;
    border: radius 30px; ;
    height: 0px;
    font-family: 'Poppins', sans-serif; color: rgb(110, 110, 110);
    column-gap: 23px;
}

#compu {

    background-color: rgb(215, 14, 4);
    gap: 20px;
    color: #333333;
    font-family: 'Poppins', sans-serif; color:  rgb(216, 211, 211);
    border-radius: 30px;
    font-size: 55px;
}

.xbox{
background-color: #e6e6e6;
font-size: 45px;
height: 350px;
border-radius: 30px;
}
.xbox1{
    position: absolute;
    left: 163px;
    top: 1200px;
    width: 637px;
    height: 366px;
}
.gamer{
    margin-left: 85px;
    margin-top: 100px;
}
.tres1 {
    margin-left: 15px;
   background-color: rgb(199, 25, 25);
   color: white;
}
#mejora {
    color: antiquewhite;
    text-align: left;
    margin-top: 4px;
    background-color:rgb(39, 39, 200);
    border-radius: 35%;
    font-size: 45px;
    height: 351px;
    border-radius: 30px;
    column-gap: 23px;
}
#mejora1{
    color: antiquewhite;
    text-align: left;
    margin-top: 4px;
    background-color:rgb(39, 200, 119);
    border-radius: 35%;
    font-size: 45px;
    height: 351px;
    border-radius: 30px;
    column-gap: 23px;
}
.hombre{
    position: absolute;
    margin-left: 57px;
    top: 1300px;
    width: 230px;
    height: 250px;
}
.hombre1{
    position: absolute;
    width: 220px;
    height: 220px;
    margin-left: 95px;
    top: 1388px;
}
.dosigual{
    margin-left:20px;
    margin-top: 50px;
}
.unob{
    margin-left: 7px;
    margin-top: auto;
}
.mejo{
   font-size: 30px;
}
.mejora2{
    color: #bab7b7;
}
.seros{

   margin-top: 28%;
    margin-left: -13px;

}
.seroscero{
    margin-left: -21px;
  font-size: 26px;

}
#serosuno{
    display: flex;
    gap: 15px;
    font-size: 20px;
    margin-left: 66px;
}
.letran{
    font-size: larger;
}

#cajaroja{
    display: flex;
    justify-content: space-around;
    background-color: rgb(223, 44, 44);
    border-radius: 4%;
    margin-top: 150px;
    margin-left: 1%;
    margin-right: 1%;
    height: 350px;
    border-radius: 30px;
    color: #fff9f9;
}
#primeracj{
    margin-top: 44px;
    margin-right: 680px;
}
#segundacj{
    
    margin-right: 81px;
    margin-top: 45px;
}

.fine{
    font-size: 79px;
  font-weight: bolder;
}
.air{
    font-size: initial;
}
.sumer{
    font-size: 55px;
}
.diadema{
    position: absolute;
    width: 740px;
    height: 500px;
    left: 95px;
    margin-top: -158px;
}
#piepag{
    display: flex;
    margin-left: 37%;
    font-size: 50px;
    margin-top: 80px;
}
.piepagf{
    display: flex;
    margin-left: 42%;
    font-size: 17px;
    margin-top: -14px;
    color: #dad2d2;
};