body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor_tabla {
    max-width: 600px;
    margin: 20px auto;
    padding: 21px;
    border: 1px solid #ccc;
    border-radius: 48px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input, button {
    width: 45%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: 10px auto 0; /* Agregando espacio superior */
}


button {
    margin-top: 8px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Estilo para checkbox */
#check {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

/* Estilo para botón de ordenar */
#ordenar {
    margin-top: 10px;
    background-color: #008CBA;
}

#ordenar:hover {
    background-color: #0077A3;
}